<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%- title %></title>
  <link rel="stylesheet" href="./tailwindcss/compile.css">
  <style>
  
  </style>
</head>
<body class="dark:bg-gray-900">

  <script src="https://cdn.jsdelivr.net/npm/kutty@latest/dist/kutty.min.js"></script>
</body>
</html>