<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome <%- req.user.displayName %></p>
  </body>
</html>
