<!doctype html>
<html>
<head>
  <title><%- title %> | Login</title>
  <meta name="viewport" content="width=device-width, intiial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="parent">
    <div class="ui card">
      <div class="content-1 content">
        <div class="header">
          Sign In
        </div>
      </div>
      <div class="content-2 content">
        <form autocomplete="off" method="POST" action="/login" class="ui form">

          <% if (message.length > 0) {
            %>
            <div class="ui message">
              <p>
                <%- message %>
              </p>
            </div>
            <%
          } %>

          <% if (error.length > 0) {
            %>
            <div class="ui message">
              <p>
                <%- error %>
              </p>
            </div>
            <%
          } %>

          <div class="field">
            <label for="email">Email</label>
            <input type="email" placeholder="example@gmail.com" name="email" id="email" required>
          </div>
          <div id="passwordField" class="field">
            <label for="password">Password</label>
            <input type="password" placeholder="Password" id="password" name="password" required>
          </div>
          <button class="ui primary button submitButton" type="submit">Sing In</button>
          <div class="action">
            <a href="/">Forgot password</a>
            <a href="/register">Don't have an account yet?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="//cdn.jsdelivr.net/npm/eruda"></script>
  <script>
    eruda.init();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</html>
</body>