@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
  font-family: sans-serif;
  background-color: #ebfafe;
  transition: all 0.6s ease;
  padding: 35px;
}
.header {
  text-align: center;
}
.action {
  display: flex;
  flex-direction: column;
}
.action a {
  margin-top: 10px;
}
.ui.card {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.submitButton {
  margin-top: 15px!important;
  width: 100%;
}
.content-1 {
  background-color: #c9f4ff !important;
}
.content-1 .header {
  color: black !important;
}
.action {
  margin-top: 20px;
  text-align: center;
}
.message {
  margin-bottom: 25px !important;
}

/* DEKSTOP VERSION */
@media (min-width: 769px) {
  .ui.card {
    width: 35%;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}