.head {
  padding: 11px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.4s ease;
  background-color: #6a74f0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}
.dateY {
  display: inline-block;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.dateY p {
  width: auto;
  padding: 5px;
  font-weight: bold;
  color: #40494c;
  text-align: center;
}
.description {
  font-size: 13px;
  color: rgba(225, 225, 225, 0.8) !important;
}
body {
  background-color: #aeeefe;
  overscroll-behavior-y: none;
}
.item-icon {
  position: relative;
  height: 100%;
}
.item-icon button {
  margin-right: 20px;
  top: 50%;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  transform: translateY(50%);
}
p {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.back i {
  font-size: 15px;
}
.header {
  color: white !important;
}
.box-send-message {
  width: 100%;
  position: fixed;
  background-color: white;
  display: flex;
  padding: 10px;
  bottom: 0;
}
.box-send-message .chat-input {
  width: 90%;
  margin-right: 5px;
}
.box-send-message button {
  font-size: 16px;
  background-color: #7289DA;
  color: white;
  width: 38px;
  border-radius: 50%;
  border: none;
}
.friends, .you {
  padding: 10px;
  margin-bottom: 7px;
  border-radius: 5px;
  max-width: 70%;
}
.parent-friends {
  width: 100%;
  float: left;
}
.parent-you {
  width: 100%;
  float: right;
  transition: all 0.5s ease;
}

.you {
  float: right;
  word-break: break-word;
  /* border-top-right-radius: 0; */
  background-color: #aaffe1;
}
.friends {
  background-color: white;
  word-break: break-word;
  float: left;
}
.message-send {
  border: none !important;
}
.message-list::after {
  content: "";
  height: 0;
  clear: both;
  display: block;
}
.message-list {
  padding: 10px;
  margin-bottom: 50px;
}
.list {
  display: flex;
  justify-content: flex-start;
}
.item.user {
  cursor: pointer;
  display: block;
  width: 100%;
}
.status-user {
  transform: translateY(0);
  transition: all 1s ease;
  opacity: 1;
  max-height: 250px;
}
.status-user.animated-status {
  opacity: 0;
  max-height: 250px;
  transition: all 1s ease;
}