body {
  padding: 27px;
}
.header {
  text-align: center;
}
.ui.card {
  width: 100%;
}
.submitButton {
  margin-top: 15px!important;
  width: 100%;
}
.content-1 {
  background-color: #c9f4ff !important;
}
.content-1 .header {
  color: black !important;
}
.action {
  margin-top: 20px;
  text-align: center;
}
.message {
  margin-bottom: 25px !important;
}

/* DEKSTOP VERSION */
@media (min-width: 769px) {
  .ui.card {
    width: 35%;
  }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}